boto3==1.16.45
botocore==1.19.45
cycler==0.10.0
decorator==4.4.2
dlib==19.20.0
gunicorn==19.8.1
imageio==2.8.0
imutils==0.5.3
jmespath==0.10.0
kiwisolver==1.2.0
matplotlib==3.2.1
networkx==2.4
numpy==1.18.5
opencv-python==4.2.0.34
opencv-python-headless==4.4.0.46
Pillow==7.1.2
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets==1.1.1
s3transfer==0.3.3
scikit-image==0.17.2
scipy==1.4.1
six==1.15.0
tifffile==2020.6.3
tqdm==4.55.0
urllib3==1.26.2
